<a href="https://colab.research.google.com/github/felippedamasopy/create-structure-data/blob/main/create_structure_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [5]:
s = pd.Series(data = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [6]:
data = {'Linha' + str(i) for i in range(5)}
data

{'Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4'}

In [7]:
data = {'Linha0': 1, 'Linha2': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}
data

{'Linha0': 1, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [8]:
s = pd.Series(data)
s

Linha0    1
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [9]:
s1 = s +2
s1

Linha0    3
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [10]:
data = [[1,3,4],
        [5,6,7],
        [8,9,10]]

In [11]:
data

[[1, 3, 4], [5, 6, 7], [8, 9, 10]]

In [12]:
df1 = pd.DataFrame(data = data)
df1

   0  1   2
0  1  3   4
1  5  6   7
2  8  9  10

In [13]:
index = ['linha' + str(i) for i in range(3)]
index

['linha0', 'linha1', 'linha2']

In [14]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1   2
linha0  1  3   4
linha1  5  6   7
linha2  8  9  10

In [15]:
df2 = pd.DataFrame(data = data, index = index)
df2

        0  1   2
linha0  1  3   4
linha1  5  6   7
linha2  8  9  10

In [16]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [17]:
df1 = pd.DataFrame(data = data, index = index , columns = columns)
df1

        Coluna0  Coluna1  Coluna2
linha0        1        3        4
linha1        5        6        7
linha2        8        9       10

In [18]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [19]:
df3 = pd.DataFrame(data = data , index = index, columns = columns)
df3

        Coluna0  Coluna1  Coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [20]:
df1[df1 > 1] = 'A'

In [21]:
df1

       Coluna0 Coluna1 Coluna2
linha0       1       A       A
linha1       A       A       A
linha2       A       A       A

In [22]:
df2[df2 > 0] = 'B'

In [23]:
df2

        0  1  2
linha0  B  B  B
linha1  B  B  B
linha2  B  B  B

In [24]:
df3[df3 > 0] = 'C'

In [25]:
df3

       Coluna0 Coluna1 Coluna2
linha0       C       C       C
linha1       C       C       C
linha2       C       C       C

In [28]:
df4 = pd.concat([df1,df2,df3])
df4

          0    1    2 Coluna0 Coluna1 Coluna2
linha0  NaN  NaN  NaN       1       A       A
linha1  NaN  NaN  NaN       A       A       A
linha2  NaN  NaN  NaN       A       A       A
linha0    B    B    B     NaN     NaN     NaN
linha1    B    B    B     NaN     NaN     NaN
linha2    B    B    B     NaN     NaN     NaN
linha0  NaN  NaN  NaN       C       C       C
linha1  NaN  NaN  NaN       C       C       C
linha2  NaN  NaN  NaN       C       C       C

In [27]:
df4 = pd.concat([df1,df2,df3], axis =1)
df4

       Coluna0 Coluna1 Coluna2  0  1  2 Coluna0 Coluna1 Coluna2
linha0       1       A       A  B  B  B       C       C       C
linha1       A       A       A  B  B  B       C       C       C
linha2       A       A       A  B  B  B       C       C       C